header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: white;
  box-shadow: 0 2px 5px black;
  font-family: "Inter", sans-serif;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px 
}

.logo img {
  width: 45px;
  height: 45px;
}

.brand-text h1{
  font-size: 24px;
  margin: 0;
  color: black;
  font-weight: 800;
}

.brand-text p {
  font-size: 13px;
  color: #6b7280;
  margin: 0;
}